<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Pending</title>
</head>
<body>
    <body style="font-family: Arial; text-align:center; margin-top:100px;">

    <h2>Your Account is Under Review</h2>

    <p>
        Thank you for registering as a Caretaker.
        <br><br>
        Our admin team is verifying your documents and certificates.
        <br><br>
        You will be able to access your dashboard once approved.
    </p>

    <a href="{% url 'index' %}">Return to Home</a>
</body>
</html>